# 새 섹션

In [ ]:
import pandas as pd
import json

json_file_path = "/content/json/Students_Grading_Dataset.json"

with open(json_file_path, "r") as f:
  json_data = json.load(f)

df = pd.DataFrame(json_data)

print(df.info())
print(df.isnull().sum())
print(df.dtypes)
print(df.describe())
print(df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 23 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Student_ID                  5000 non-null   object
 1   First_Name                  5000 non-null   object
 2   Last_Name                   5000 non-null   object
 3   Email                       5000 non-null   object
 4   Gender                      5000 non-null   object
 5   Age                         5000 non-null   int64
 6   Department                  5000 non-null   object
 7   Attendance (%)              5000 non-null   float64
 8   Midterm_Score               5000 non-null   float64
 9   Final_Score                 5000 non-null   float64
 10  Assignments_Avg             5000 non-null   float64
 11  Quizzes_Avg                 5000 non-null   float64
 12  Participation_Score         5000 non-null   float64
 13  Projects_Score              5000 non-null   float64
 14  Total_Score                 5000 non-null   float64
 15  Grade                       5000 non-null   object
 16  Study_Hours_per_Week        5000 non-null   float64
 17  Extracurricular_Activities  5000 non-null   object
 18  Internet_Access_at_Home     5000 non-null   object
 19  Parent_Education_Level      5000 non-null   object
 20  Family_Income_Level         5000 non-null   object
 21  Stress_Level (1-10)         5000 non-null   int64
 22  Sleep_Hours_per_Night       5000 non-null   float64
dtypes: float64(10), int64(2), object(11)
memory usage: 898.6+ KB
None
Student_ID                    0
First_Name                    0
Last_Name                     0
Email                         0
Gender                        0
Age                           0
Department                    0
Attendance (%)                0
Midterm_Score                 0
Final_Score                   0
Assignments_Avg               0
Quizzes_Avg                   0
Participation_Score           0
Projects_Score                0
Total_Score                   0
Grade                         0
Study_Hours_per_Week          0
Extracurricular_Activities    0
Internet_Access_at_Home       0
Parent_Education_Level        0
Family_Income_Level           0
Stress_Level (1-10)           0
Sleep_Hours_per_Night         0
dtype: int64
Student_ID                     object
First_Name                     object
Last_Name                      object
Email                          object
Gender                         object
Age                             int64
Department                     object
Attendance (%)                float64
Midterm_Score                 float64
Final_Score                   float64
Assignments_Avg               float64
Quizzes_Avg                   float64
Participation_Score           float64
Projects_Score                float64
Total_Score                   float64
Grade                          object
Study_Hours_per_Week          float64
Extracurricular_Activities     object
Internet_Access_at_Home        object
Parent_Education_Level         object
Family_Income_Level            object
Stress_Level (1-10)             int64
Sleep_Hours_per_Night         float64
dtype: object
               Age  Attendance (%)  Midterm_Score  Final_Score  \
count  5000.000000     5000.000000    5000.000000  5000.000000
mean     21.048400       75.356076      70.701924    69.546552
std       1.989786       14.392716      17.436325    17.108996
min      18.000000       50.010000      40.000000    40.010000
25%      19.000000       62.945000      55.707500    54.697500
50%      21.000000       75.670000      70.860000    69.485000
75%      23.000000       87.862500      85.760000    83.922500
max      24.000000      100.000000      99.990000    99.980000

       Assignments_Avg  Quizzes_Avg  Participation_Score  Projects_Score  \
count      5000.000000  5000.000000          5000.000000      5000.00000
mean         74.956320    74.836214             4.996372        74.78305
std          14.404287    14.423848             2.898978        14.54243
min          50.000000    50.000000             0.000000        50.00000
25%          62.340000    62.357500             2.507500        61.97000
50%          75.090000    74.905000             4.960000        74.54000
75%          87.352500    87.292500             7.550000        87.63000
max          99.990000    99.990000            10.000000       100.00000

       Total_Score  Study_Hours_per_Week  Stress_Level (1-10)  \
count  5000.000000           5000.000000          5000.000000
mean     75.021860             17.521140             5.507200
std      14.323246              7.193035             2.886662
min      50.010000              5.000000             1.000000
25%      62.710000             11.500000             3.000000
50%      75.345000             17.400000             6.000000
75%      87.060000             23.700000             8.000000
max      99.990000             30.000000            10.000000

       Sleep_Hours_per_Night
count            5000.000000
mean                6.514420
std                 1.446155
min                 4.000000
25%                 5.300000
50%                 6.500000
75%                 7.800000
max                 9.000000
  Student_ID First_Name Last_Name                    Email  Gender  Age  \
0      S1000       Omar  Williams  student0@university.com  Female   22
1      S1001      Maria     Brown  student1@university.com    Male   18
2      S1002      Ahmed     Jones  student2@university.com    Male   24
3      S1003       Omar  Williams  student3@university.com  Female   24
4      S1004       John     Smith  student4@university.com  Female   23

    Department  Attendance (%)  Midterm_Score  Final_Score  ...  \
0  Mathematics           97.36          40.61        59.61  ...
1     Business           97.71          57.27        74.00  ...
2  Engineering           99.52          41.84        63.85  ...
3  Engineering           90.38          45.65        44.44  ...
4           CS           59.41          53.13        61.77  ...

   Projects_Score  Total_Score  Grade  Study_Hours_per_Week  \
0           62.84        83.49      C                  10.3
1           98.23        92.29      F                  27.1
2           91.22        93.55      F                  12.4
3           55.48        51.03      A                  25.5
4           87.43        90.91      A                  13.3

   Extracurricular_Activities Internet_Access_at_Home  Parent_Education_Level  \
0                         Yes                      No                Master's
1                          No                      No             High School
2                         Yes                      No             High School
3                          No                     Yes             High School
4                         Yes                      No                Master's

  Family_Income_Level Stress_Level (1-10) Sleep_Hours_per_Night
0              Medium                   1                   5.9
1                 Low                   4                   4.3
2                 Low                   9                   6.1
3                 Low                   8                   4.9
4              Medium                   6                   4.5

[5 rows x 23 columns]

In [ ]:
import pandas as pd
import xml.etree.ElementTree as ET

xml_file_path="/content/Demo_xml.xml"

tree=ET.parse(xml_file_path)

root = tree.getroot()

elements=root.findall('book')

df=pd.DataFrame(columns=['title','author','price','genre'])

for element in elements:
  row={
      'title':element.find('title').text,
      'author':element.find('author').text,
      'price':float(element.find('price').text),
      'genre':element.find('genre').text
  }
  new_df = pd.DataFrame([row],columns=df.columns)
  df = pd.concat([df,new_df],ignore_index=True)

print(df.info())
print(df.isnull().sum())
print(df.dtypes)
print(df.describe())
print(df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   title   12 non-null     object
 1   author  12 non-null     object
 2   price   12 non-null     float64
 3   genre   12 non-null     object
dtypes: float64(1), object(3)
memory usage: 516.0+ bytes
None
title     0
author    0
price     0
genre     0
dtype: int64
title      object
author     object
price     float64
genre      object
dtype: object
           price
count  12.000000
mean   17.866667
std    18.287891
min     4.950000
25%     5.700000
50%     5.950000
75%    36.950000
max    49.950000
                   title                author  price     genre
0  XML Developer's Guide  Gambardella, Matthew  44.95  Computer
1          Midnight Rain            Ralls, Kim   5.95   Fantasy
2        Maeve Ascendant           Corets, Eva   5.95   Fantasy
3        Oberon's Legacy           Corets, Eva   5.95   Fantasy
4     The Sundered Grail           Corets, Eva   5.95   Fantasy

<ipython-input-11-513ea0cb81c6>:22: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df,new_df],ignore_index=True)